<ul id="languagecontrol">
  <li>
    <a href="#{{currentPage}}" id="englishlink">
      <span class="bandera-texto">
        <img src="../../../frontend/img/united-kingdom.png" alt="imgEnglishFlag">
        <p>{{i18n 'Inglés'}}</p>
      </span>
    </a>
  </li>
  <li>
    <a href="#{{currentPage}}" id="spanishlink">
      <span class="bandera-texto">
        <img src="../../../frontend/img/spain.png" alt="imgSpanishFlag">
        <p>{{i18n 'Español'}}</p>
      </span>
    </a>
  </li>
</ul>