<div>
    <header id="statusbar"></header>
    <!-- router contents -->
    <div id="mensajeconfirmacion"></div>
    <span class="texto-error">{{deleteUserError}}</span>
    <main id="maincontent">Loading...</main>
    <footer>
        <div id="footerLogo">
            <img src="img/LogoNombreBlanco.png" alt="LogoFooter">
            <p>Edificio Politécnico s/n, 32004 Ourense</p>
        </div>

        <div id="footer-idioma">
            <h5>TSW_2 2022/2023</h5>
            <div id="languagecontrol">Loading...</div>
        </div>

        <div id="footerNombres">
            <p>
                Antón Canzobre Martínez <br> Cibrán Cores Cabaleiro <br> Noel Fabello Quintana <br>
            </p>
        </div>
    </footer>
</div>
