<div>
    {{#if message}}
    <div id="contenedor-confirmacion" class="contenedor-emergente">
        <div id="" class="generico-eliminar">
            <h3>{{#i18n}}{{message}}{{/i18n}}</h3>
            <div class="botones-eliminar-generico">
                <button class="boton-eliminar-generico" id="confirmacion-cancelar">{{i18n "Cancelar"}}</button>
                <button class="boton-eliminar-generico aceptar-eliminar-generico" id="confirmacion-aceptar">{{i18n "Aceptar"}}</input>
            </div>
        </div>
    </div>
    {{/if}}
</div>